[submodule "extensions_dev/mk_nodes"]
	path = extensions_dev/mk_nodes
	url = https://github.com/1226085293/mk_nodes.git
[submodule "tool/api-extractor/docfx_project/templates/singulinkfx"]
	path = tool/api-extractor/docfx_project/templates/singulinkfx
	url = https://github.com/Singulink/SingulinkFX.git
