
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
extensions/*
!extensions/MKFramework
tool/api-extractor/dist
tool/api-extractor/docs
tool/api-extractor/etc
tool/typedoc/docs
tool/api-extractor/etc
