
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
extensions/*
!extensions/MKFramework
!extensions/quick-plugin

tool/*
!tool/test
!tool/typedoc
tool/typedoc/docs

.protobufjs.js