[submodule "extensions_dev/mk_nodes"]
	path = extensions_dev/mk_nodes
	url = https://github.com/1226085293/mk_nodes.git
[submodule "extensions_dev/cc-plugin-protobufjs"]
	path = extensions_dev/cc-plugin-protobufjs
	url = https://github.com/1226085293/cc-plugin-protobufjs.git
[submodule "extensions_dev/@libs"]
	path = extensions_dev/@libs
	url = https://github.com/1226085293/nodejs-lib.git
